body, h1, h2, h3, h4, h5, h6, html, p, span {
    color: #2e405b;
}
.post-body p a {
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
}
.posts-expand .post-title {
	padding-top: 15px;
    font-size: 26px;
    font-weight: 700;
}
.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    padding-top: 0px;
    border-left: 4px solid #f27c8d;
    padding-left: 20px;
    border-bottom: none;
}
.post-body h2 {
	border-bottom: 1px solid #cfd8dc;
    padding-left: 1.7%;
    color: #2e405b;
    position: relative;
}
.post-body h3 {
    padding-bottom: .1em;
    color: #2e405b;
    position: relative;
}
.post-body h4 {
    color: #555;
    position: relative;
}

.posts-collapse .post-header::before {
    background-color: #fff;
    border: 1px solid #bbb8b8;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 4px;
}
.copy-btn {
    color: #ff7600;
    background: #fff;
    border: 1px solid #ff7600;
}
blockquote {
    margin: 6px 0;
    color: #2e405b;
    border-left: 4px solid #1098ad;
    background-color: #e3f2fd;
    margin-bottom: 20px;
    border-radius: 3px;
}
.fa-folder:before {
    color: cornflowerblue;
}
.fa-calendar:before {
    color: cadetblue;
}
.fa-calendar-check:before {
    color: darksalmon;
}
.fa-eye:before {
    color: cadetblue;
}
.fa-comment:before {
    color: aquamarine;
}
.site-subtitle {
    color: #586e75;
    font-size: 0.9em;
}
p { 
	text-indent: 2em;
	margin: 0 0 5px 0;
}	
li > p {
	text-indent: 0;
}
blockquote > p { 
	text-indent: 0;
}
body {
	line-height: 1.65;
	color: #000;
}
.post-body {
	font-size: 1.05em;
}

.post-block {
    background: var(--content-bg-color);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    padding: 15px;
}

.posts-expand {
    margin-bottom: 50px;
    padding: 15px;
    padding-top: 40px;
    -webkit-box-shadow: 0 0 14px rgba(202,203,203,0.5);
    -moz-box-shadow: 0 0 14px rgba(202,203,204,0.5);
}

.post-eof {
    display: none;
}

.post-block + .post-block {
    border-radius: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
    margin-top: 12px;
}

.content-wrap {
    background: initial;
    box-shadow: initial;
    padding: initial;
}
