body, h1, h2, h3, h4, h5, h6, html, p, span {
    color: #2e405b;
}
.post-body p a {
    color: #0593d3;
    border-bottom: none;
    border-bottom: 1px solid #0593d3;
}
.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}
.post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
    border-left: 4px solid #f27c8d;
    margin-left: -40px;
    padding-left: 32px;
    border-bottom: none;
}
.post-body h2 {
	border-bottom: 1px solid #cfd8dc;
    padding-left: 1.7%;
    color: #2e405b;
    position: relative;
}
.post-body h3 {
    padding-bottom: .3em;
    color: #2e405b;
    position: relative;
}
.post-body h4 {
    color: #555;
    position: relative;
}

.posts-collapse .post-header::before {
    background-color: #fff;
    border: 1px solid #bbb8b8;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 4px;
}
.copy-btn {
    color: #ff7600;
    background: #fff;
    border: 1px solid #ff7600;
}
blockquote {
    margin: 6px 0;
    color: #2e405b;
    border-left: 4px solid #1098ad;
    background-color: #e3f2fd;
    margin-bottom: 20px;
    border-radius: 3px;
}
.fa-folder:before {
    color: cornflowerblue;
}
.fa-calendar:before {
    color: cadetblue;
}
.fa-calendar-check:before {
    color: darksalmon;
}
.fa-eye:before {
    color: cadetblue;
}
.fa-comment:before {
    color: aquamarine;
}
.site-subtitle {
    color: #586e75;
    font-size: 0.9em;
}
